html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@-moz-viewport {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@-ms-viewport {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@-o-viewport {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@-webkit-viewport {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@viewport {
  max-width: 1440px;
  min-width: 320px;
}

body {
  background-color: #e2e2e2;
  margin: 0;
}

section {
  padding: 2rem 0;
}

.h1 {
  font-family: sans-serif;
  max-width: 50em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

.img-flex {
  display: block;
  width: 100%;
}

p {
  font-family: sans-serif;
  align-items: center;
  display: inline-block;
}

a {
  font-family: sans-serif;
  background-color: #555;
  border-radius: 4px;
  color: #e2e2e2;
  padding: .75rem;
  text-decoration: none;
}

a:hover {
  font-family: sans-serif;
  background-color: #000;
}

.u,
.photo {
  width: 100%;
  padding: 1rem;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  .u,
  .photo {
    width: 100%;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .u,
  .photo {
    width: 50%;
  }

  section {
    margin-top: -2rem;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  section {
    padding: 3rem 0;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  section {
    padding: 3rem 0;
  }

}
